<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>edit student</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<form th:method="POST" th:action="@{/students/edit}" th:object="${student}">
		<label for="firstName">First Name: </label>
		 <input type="text"	th:field="*{firstName}" id="firstName" />
		 <br />
		<label for="lastName">Last Name: </label>
		  <input type="text" th:field="*{lastName}" id="lastName" /> 
		  <br /> 
		<label	for="studyStatus">Study status: </label>
		   <select id="studyStatus" th:field="*{studyStatus}">   
		    <option
				th:each="studyStatus : ${T(ua.com.foxminded.model.enums.StudyStatus).values()}"
				th:value="${studyStatus}" th:text="${studyStatus}">
			</option>
		   </select>  
		 <br /> 
		<label for="startOfStudy">Start of study: </label> 
		 <input	type="date" th:field="*{startOfStudy}" id="startOfStudy" /> 
		 <br />
		<label for="citizenship">Citizenship: </label> 
		 <input type="text"	th:field="*{citizenship}" id="citizenship" /> 
		 <br />
		<label	for="grant">Grant: </label> 
		 <input type="number" th:field="*{grant}"	id="grant" />
		 <br />
		 <input type="hidden" th:field="*{idStudent}"	id="idStudent" /> 
		 <input type="hidden" th:field="*{idPerson}"	id="idPerson" />
		 <input type="submit" value="Edit Student" />
	</form>

</body>
</html>